<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ejemplo Spring</title>
</head>
<body>

	<h1>Producto</h1>

	<form th:action="@{/admin/producto}" method="post" th:object="${producto}">
		<div>
			<input th:field="*{id}" readonly placeholder="Id">
			<p th:if="${#fields.hasErrors('id')}">El id debe ser un número</p>
		</div>
		<div>
			<input th:field="*{nombre}" placeholder="Nombre">
			<p th:if="${#fields.hasErrors('nombre')}">El nombre debe estar rellenado y no debe superar 100 caracteres</p>
		</div>
		<div>
			<input th:field="*{precio}" type="number" step=".01" placeholder="Precio">
			<p th:if="${#fields.hasErrors('precio')}">El precio debe estar rellenado y ser positivo</p>
		</div>
		<div>
			<input th:field="*{fechaCaducidad}" type="date" placeholder="Fecha de caducidad">
			<p th:if="${#fields.hasErrors('fechaCaducidad')}">La fecha debe ser presente o futura</p>
		</div>
		<div>
			<textarea th:field="*{descripcion}" placeholder="Descripción"></textarea>
			<p th:if="${#fields.hasErrors('descripcion')}">La descripción debe tener como máximo 2000 caracteres</p>
		</div>

		<button>Guardar</button>
	</form>

</body>
</html>